@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);

:root {

  /* Color styles */
  --primary: #e98d33;
  --primary-light: #f49d46;
  --dark-brown: #341413;
  --gray-1: #798092;
  --gray-2: #E6E6ED;
  --white: #FFFFFF;

  --header-1: 64px;
  --header-2: 48px;
  --header-3: 42px;
  --header-4: 32px;

  --text-medium: 18px;
  --text-regular: 16px;
  --text-light: 13px;

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.btn {
  padding: 9px 25px;
  border-radius: 6px;
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  border: none;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:focus {
  background-color: var(--primary-light);
}

.btn-primary:hover {
  background-color: var(--primary-light);
}

.btn-primary:active {
  background-color: var(--primary-light) !important;
}


.bg-danger {
  background-color: var(--primary) !important;
}

.btn-secondary {
  background-color: var(--gray-2);
  color: var(--gray-1);
}

.text-primary {
  color: #57666f !important;
}



.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem
}

@media (min-width:768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: .25rem dotted var(--primary);
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: .3125rem
  }

  .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: .25rem dotted var(--primary);
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: .3125rem
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-light)
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: var(--primary);
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: .5
}

.btn-secondary:focus {
  background-color: var(--white);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
  color: var(--gray-1)
}

.btn-secondary:hover {
  background-color: var(--white) !important;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
  color: var(--gray-1)
}



.about-img-shape {
  margin: 30px;
  z-index: 1
}

.navbar {
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.about-img-shape::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 80%;
  height: 90%;
  z-index: -1;
  content: '';
  background-color: var(--bs-dark);
  transition: .5s;

}

.about-img-shape:after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 80%;
  height: 90%;
  z-index: -1;
  content: '';
  background-color: var(--bs-dark);
  transition: .5s;
}

@media (max-width: 992px) {
  .navbar {
    height: auto !important;
    position: static !important;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  #navigation {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  #oproepForm {
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 350px;
    margin: 0 auto;
  }

  section.hero {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .text-hero-bold {
    color: var(--dark-brown);
    font-size: var(--header-2);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
  }

  .order-2 {
    order: 1;
  }

  .order-md-1 {
    order: 2;
  }
}

.overons_img img {
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1) !important;
}



/* Contact Page */


.form {
  max-width: 80vw;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.form p,
a {
  color: #49616b;
  text-decoration: none;
}

.form a:hover {
  color: #8fabb6;
}

.btn {
  border: none;
}

.btn-primary {
  background-color: #e98d33;
}

.btn-disabled {
  background-color: #c56f19;
  pointer-events: none;
  color: white;
}

.btn-primary:focus {
  background-color: #f39940;
}

.btn-primary:hover {
  background-color: #f2a558;
}

.btn-primary:active {
  background-color: #e98d33 !important;
}

.list-group-item.active {
  background-color: #e98d33 !important;
  border-color: #e98d33 !important;
}

.form-items {
  margin-top: 50px;
  margin-left: 50px;
}

.form-items h4 {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    align-items: center;
  }

  .form-items {
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .col {
    margin-bottom: 1rem;
  }

  html,
  body {
    overflow-x: hidden;
  }
}

.cta-contact {
  color: #8d97ad;
  font-weight: 400;
}

.cta-contact .font-weight-medium {
  font-weight: 600;
}

.cta-contact .badge {
  line-height: 14px;
}

.badge-info {
  color: #fff;
  background-color: var(--primary);
}

.cta-contact .badge-info {
  background: var(--primary);
}

.h-113 {
  height: 113% !important;
}

.cta-contact .btn-info-gradiant {
  background: var(--primary);
}

.cta-contact .btn-info-gradiant:hover {
  background: var(--primary-light);
}

.cta-contact .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card-cover .d-flex {
  position: relative;
  z-index: 2;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.history-hover:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.card-no-hover:hover {
  transform: none;
}

.modal-sm {
  max-width: 400px !important;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    margin-top: 0;
  }

  .navbar .nav-item:hover .nav-link {
    color: #7b7b7b;
  }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}



.dropdown-menu {
  padding: 0.5rem 0;
  /* ruimte rondom de items */
  font-size: 1rem;
  /* grootte van de tekst */
  text-align: left;
  /* uitlijning van de tekst */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  /* schaduw effect */
  border-radius: 0.25rem;
  /* afronding van de hoeken */
}

.dropdown-item {
  padding: 0.25rem 1rem;
  /* ruimte rondom de tekst */
  font-weight: normal;
  /* vetgedrukte tekst uitschakelen */
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #d57a1fa4;
  color: #fffefe;
  /* tekstkleur */
  transition: .3s;
}

#latest_news:hover {
  color: #37393b !important;
}

.lc-block .position-relative a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5em;
  height: 5em;
  fill: currentColor;
}

#hmo .container {
  max-width: 1456px !important;
}

/* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #939597;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #939597;
  border: 5px solid #f5df4d;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.calendar {
  width: 70px;
  height: 70px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.calendar-day {
  font-size: 24px;
  font-weight: bold;
}

.calendar-month {
  font-size: 14px;
}

.event-location {
  margin-bottom: 0;
}

.custom-card {
  margin-bottom: 20px;
  /* Voeg de gewenste marges toe */
}

.custom-card:hover {
  transform: none;
  transition: none;
}

.small-form {
  max-width: 500px;
  /* Pas dit aan naar de gewenste breedte */
  margin: 0 auto;
  /* Optioneel: om het formulier in het midden uit te lijnen */
}

.display-4 {
  font-size: 3rem !important;
  font-weight: 300 !important;
  line-height: 1.2 !important;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 80px 0 0;
  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.dashboard-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table-wrapper {
  width: 100%;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}

.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}

.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}

.table-title .add-new i {
  margin-right: 4px;
}

table.table {
  table-layout: fixed;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table th:last-child {
  width: 100px;
}

table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}

table.table td a.add {
  color: #27C46B;
}

table.table td a.edit {
  color: #FFC107;
}

table.table td a.delete {
  color: #E34724;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #E34724;
}

.delete-button:focus {
  outline: none;
}

.delete-button:hover {
  color: #ed6242;
}

table.table td i {
  font-size: 19px;
}

table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}

table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}

table.table .form-control.error {
  border-color: #f50000;
}

table.table td .add {
  display: none;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.modal-footer {
  display: inline!important;
  justify-content: end!important;
}